:root {
  /* Colours */
  --lightBlue: #43a1f7;
  --black: #272727;
  --white: #ffffff;
  --lightGrey: #fafafa;
  --darkGrey: #999999;
  --grey: #cccccc;

  /* Units */
  --baseUnit: 10px;
  --standardText: 1.6rem;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  font-size: var(--baseUnit);
  -webkit-font-smoothing: antialiased;
  color: var(--black);
}

input,
button {
  font-size: var(--standardText);
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: calc(100vh - 100px);
  margin: 50px;
}

form {
  margin: 0;
}

.chat,
.nickname,
.messages {
  width: 100%;
  font-size: var(--standardText);
}

.chat {
  position: relative;
  border: 1px solid var(--grey);
}

.nickname,
.connecting {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  background: var(--white);
  text-align: center;
  width: 100%;
  color: #666;
}

.nickname input {
  border: 1px solid #ccc;
  padding: var(--baseUnit);
}

.nickname input:focus {
  border-color: var(--darkGrey);
  outline: 0;
}

.nickname .nickname-err {
  color: #8b0000;
  font-size: 12px;
  visibility: hidden;
}

.connected .connecting {
  display: none;
}

.nickname-set .nickname {
  display: none;
}

.messages {
  height: 380px;
  overflow: auto;
  background: var(--lightGrey);
}

.messages em {
  color: var(--darkGrey);
}

.messages p {
  margin: 0;
  padding: 1rem;
}

.messages p b {
  display: inline-block;
  padding-right: var(--baseUnit);
}

.messages p:nth-child(even) {
  background: var(--white);
}

.messages .nicknames {
  background: var(--black);
  padding: var(--baseUnit);
  font-size: calc(1.4 * var(--baseUnit));
}

.messages .nicknames span {
  color: var(--white);
}

.messages .nicknames span + span {
  display: inline-block;
  font-weight: 700;
  color: var(--black);
  background: var(--white);
  padding: 2px 6px;
  margin: 0 5px;
  border-radius: var(--baseUnit);
}

.messages .lines {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.messages .lines::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.messages .lines::-webkit-scrollbar-button:start:decrement,
.messages .lines ::-webkit-scrollbar-button:end:increment {
  display: block;
  height: var(--baseUnit);
}

.messages .lines::-webkit-scrollbar-button:vertical:increment {
  background-color: var(--white);
}

.messages .lines::-webkit-scrollbar-track-piece {
  background-color: var(--white);
  border-radius: 3px;
}

.messages .lines::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  border-radius: 3px;
}

.messages .lines::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: var(--white);
  border-radius: 3px;
}

.send-message {
  display: flex;
  align-items: center;
  padding: var(--baseUnit);
  background: var(--white);
  border-top: 1px solid var(--grey);
}

.send-message input {
  flex: 1 1 auto;
  border: none;
  padding: 1rem;
  vertical-align: middle;
  width: 100%;
}

.send-message input:focus {
  outline: 0;
}

.send-message button {
  margin: 0;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: var(--lightBlue);
  border: 0 none;
  border-radius: 16px;
  color: var(--white);
  line-height: 1;
  padding: 5px var(--baseUnit);
  text-align: center;
}

.send-message button:active,
.send-message button.active {
  background: #2e70c4;
}

.send-message button:focus,
.send-message button.focus {
  outline: none;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 0 4px 0 #377ad0;
}
